<footer>
	<div class="footer">
		<div class="container">
			<div class="row"> 
				<div class="col-xs-4">
					<a href="https://www.commerce.gov/" title = "DoC"><img style="margin-right: 10px;" src="images/commerce.png" alt="DoC"></a>
					<a href="http://www.noaa.gov/" title = "NOAA"><img src="images/noaa.png" alt="NOAA"></a>
					<br>
					<p style="margin-top: 5px;"><small>Copyright © 2020<br><a ng-click="setActive('app.terms')" ui-sref="app.terms">Credits &amp; Disclaimer</a><br>NOAA Fisheries<br>All rights reserved.<br><a href="mailto:joshua.hatch@noaa.gov">Webmaster</a></small>
                		</div>
				<div class="col-xs-4 text-center">
				</div>
				<div class="col-xs-4 text-right">
					<a href="https://www.nefsc.noaa.gov/psb/" title="PSB"><img src="images/psb.png" alt="PSB"></a>
					<p><small>Protected Species Branch<br>Northeast Fisheries Science Center<br>National Marine Fisheries Service<br>166 Water Street<br>Woods Hole, MA 02543<br></small></p>
				</div>
			</div>
		</div>
	</div>
</footer>
