<div class="container">
	<div class="row pad">
		<div class="col-xs-5">
			<div class="list-group">
				<div class="list-group-item">
					<h3 class="list-group-item-heading">National Protected Species Toolbox (NPST) Publications</h3>
				</div>
				<div class="list-group-item">
					<h4 class="list-group-item-heading">Fisheries impact on sea turtle populations</h4>
					<a href="https://www.sciencedirect.com/science/article/pii/S0304380014005985" ><p class="list-group-item-text">A spatially explicit population model of simulated fisheries impact on loggerhead sea turtles (<em>Caretta caretta</em>) in the Northwest Atlantic Ocean</p></a>
				</div>
				<div class="list-group-item">
					<h4 class="list-group-item-heading">Sea turtle monitoring</h4>
					<a href="http://www.int-res.com/abstracts/esr/v34/p323-337/"><p class="list-group-item-text">Monitoring trends in sea turtle populations: walk or fly?</p></a>
				</div>
				<div class="list-group-item">
					<h4 class="list-group-item-heading">NWA loggerhead maximum population growth rate</h4>
					<a href="https://onlinelibrary.wiley.com/doi/full/10.1002/ece3.5398" ><p class="list-group-item-text">Life‐history constraints on maximum population growth for loggerhead turtles in the northwest Atlantic</p></a>
				</div>
				<div class="list-group-item active">
					<h4 class="list-group-item-heading">Loggerhead thermal habitat shifts</h4>
					<a href="https://doi.org/10.21203/rs.3.rs-135577/v1" ><p class="list-group-item-text">Projected shifts in loggerhead sea turtle habitat in the Northwest Atlantic Ocean due to climate change</p></a>
				</div>
			</div>
		</div>
		<div class="col-xs-7">
			<div class="panel panel-default">
				<div class="panel-body">
					<video height="100%" width="100%" autoplay controls>
						<source src="images/proj_slow.mp4" type="video/mp4">
					</video>
				</div>
				<div class="panel-footer">
					Log relatve density of tagged loggerhead turtles from <a href = 'https://www.int-res.com/abstracts/meps/v586/p217-232/'>Winton et al. (2018)</a> upsampled to a 10km spatial resolution for the Greater Atlantic region.
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="row pad">
		<div class="col-xs-12 col-md-4 text-center">
			<img class="img-circle img-about" style="width:300px; height:300px;" src="images/KathyAnn-min.jpg"/>
		</div>
		<div class="col-xs-12 col-md-4 text-center">
			<img class="img-circle img-about" style="width:300px; height:300px;" src="images/Turtle-min.jpg"/>
		</div>
		<div class="col-xs-12 col-md-4 text-center">   
			<img class="img-circle img-about" style="width:300px; height:300px;" src="images/RhibApproach-min.jpg"/>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<p class="text-center">Sea turtle research and photos were authorized under ESA permit #1576.</p>
		</div>
	</div>
</div>
