<div class="container">
	<div class="row pad">
		<div class="col-xs-12 col-md-6 text-center">
			<b>Credits</b><br>
			This project was made possible by the NOAA Fisheries Office of Science and Technology as part of the National Protected Species Toolbox initiative.
			<b>Disclaimer</b><br>
			This application was developed and is maintained by scientists at the NOAA Fisheries Northeast Fisheries Science Center and should not be construed as official communication of NMFS, NOAA, or the U.S. Dept. of Commerce. While the best efforts have been made to ensure the highest quality, tools such as this are under constant development and are subject to change.		</div>
		<div class="col-xs-12 col-md-6 text-center">
		</div>
	</div>
</div>
