<div class="container">
	<div class="row pad">
		<div class="col-xs-12 col-md-6 text-left">
			<h1><b>Credits</b></h1><br>
			<p style="font-size:20px">This webpage was made possible by the NOAA Fisheries Office of Science and Technology as part of the FY 18-20 National Protected Species Toolbox initiative.</p>
		</div>
		<div class="col-xs-12 col-md-6 text-left">
			<h1><b>Disclaimer</b></h1><br>
			<p style="font-size:20px">This webpage was developed and is maintained by scientists at the NOAA Fisheries Northeast Fisheries Science Center and should not be construed as official communication of NMFS, NOAA, or the U.S. Dept. of Commerce. While the best efforts have been made to ensure the highest quality, content such as this are under constant development and are subject to change.</p>		
		</div>
	</div>
</div>
